<!DOCTYPE html>
<html lang="en" ng-app="planner">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>NTU Course Planner</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NTU Course Planner</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/koallen/ntu-course-planner-web">GitHub</a></li>
      </ul>
    </div>
  </nav>

  <div class="timetable container" ng-controller="TimetableCtrl">
    <div style="padding: 10px">
      <a href="#" class="dropdown-button btn" data-activates="choices">Choices</a>
    </div>
    <ul id="choices" class="dropdown-content">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
    </ul>
    <table class="centered">
      <thead>
        <tr>
          <th ng-repeat="day in days">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="slot in slots">
          <td ng-repeat="slot in slots">{{ slot }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the developer</h5>
          <p class="grey-text text-lighten-4">I'm Siyuan from School of Computer Science and Engineering, NTU. I made this website for students to easily plan their timetable.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="js/index.js"></script>

</body>
</html>
